fastapi
uvicorn

streamlit
requests

firebase-admin
pyrebase4

langgraph
langchain
langchain_community

langchain-groq
langchain-text-splitters

psycopg[binary]
python-dotenv
psycopg_pool
langgraph.checkpoint.postgres
tavily-python
arxiv
pymupdf

